:root {
  --main-text-color: #757575;
  --second-text-color: #212121;
  --color-wtite: #ffffff;
  --brand-color: #2196f3;
  --color-light-gray: #f5f4fa;
  --color-links-icon: #afb1b8;
  --overlay-background-color: rgba(33, 150, 243, 0.9);
  --input-border: rgba(33, 33, 33, 0.2);
}

body {
  background: var(--color-wtite);
  font-family: "Roboto", sans-serif;
  color: var(--main-text-color);
}

ul {
  list-style: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.section {
  padding: 60px 0;
}
@media (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.container {
  width: 100%;
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.button {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--brand-color);
  color: var(--color-wtite);
  cursor: pointer;
  padding: 10px 32px;
  border: none;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover, .button:focus {
  background-color: #188ce8;
}

.clients {
  width: 100%;
}

.clients__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  margin-bottom: 30px;
}
@media (min-width: 1200px) {
  .clients__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (min-width: 1200px) {
  .clients__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.clients__item {
  width: calc((100% - 60px) / 2);
}
@media (min-width: 768px) {
  .clients__item {
    width: calc((100% - 90px) / 3);
  }
}
@media (min-width: 1200px) {
  .clients__item {
    width: calc((100% - 180px) / 6);
  }
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid;
  border-color: var(--color-links-icon);
  border-radius: 4px;
  height: 92px;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  border-color: var(--brand-color);
}

.clients__icon {
  fill: var(--color-links-icon);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover .clients__icon, .clients__link:focus .clients__icon {
  fill: var(--brand-color);
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
@media (min-width: 768px) {
  .features__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (min-width: 1200px) {
  .features__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.features__item {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.features__item:last-of-type {
  padding-right: 0;
}
@media (min-width: 768px) {
  .features__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
  }
}
@media (min-width: 1200px) {
  .features__item {
    -ms-flex-preferred-size: calc((100% - 120px) / 4);
        flex-basis: calc((100% - 120px) / 4);
  }
}

.feauters__img {
  height: 120px;
  background-color: var(--color-light-gray);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  margin-bottom: 30px;
}

.features__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-text-color);
  margin-bottom: 10px;
}

.features__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  max-width: 100%;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (min-width: 768px) {
  .footer--container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media (min-width: 1200px) {
  .footer--container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.footer__logo-and-adress {
  margin-bottom: 60px;
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
  text-align: center;
}
@media (min-width: 1200px) {
  .footer__logo {
    text-align: start;
  }
}

.footer__logo--text {
  color: var(--color-wtite);
}

.footer__auth-nav-links-list {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  width: 231px;
  text-align: center;
}
@media (min-width: 1200px) {
  .footer__auth-nav-links-list {
    text-align: start;
  }
}

.footer__auth-nav-link {
  margin-bottom: 9px;
}
.footer__auth-nav-link:last-of-type {
  margin-bottom: 0;
}

.footer__company-address {
  color: var(--color-wtite);
}

.footer__company-mail,
.footer__company-phone {
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__company-mail:hover, .footer__company-mail:focus {
  color: var(--brand-color);
}

.footer__company-phone:hover, .footer__company-phone:focus {
  color: var(--brand-color);
}

.footer__social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 206px;
  margin-bottom: 60px;
}
@media (min-width: 1200px) {
  .footer__social-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-left: 70px;
  }
}

.footer__social-links__title {
  color: var(--color-wtite);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.footer__social-links__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}

.footer__social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__social-link:hover, .footer__social-link:focus {
  background-color: var(--brand-color);
}

.footer__social-link__icon {
  fill: var(--color-wtite);
}

.footer__social-links__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
@media (min-width: 1200px) {
  .footer-form {
    margin-left: 93px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.footer-form__label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-wtite);
  margin-bottom: 20px;
  margin-bottom: 20px;
}

.footer-form__mail-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
@media (min-width: 768px) {
  .footer-form__mail-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (min-width: 1200px) {
  .footer-form__mail-box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.footer-form__input {
  display: inline-block;
  width: calc(100% - 30px);
  max-width: 450px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 16px;
  color: var(--color-wtite);
  margin-bottom: 20px;
}
@media (min-width: 1200px) {
  .footer-form__input {
    width: 358px;
    margin-bottom: 0;
    margin-right: 12px;
  }
}
.footer-form__input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form__input::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form__input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  width: 200px;
  height: 50px;
  background-color: var(--brand-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
.footer-form__button--text {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: var(--color-wtite);
}
.footer-form__button--icon {
  fill: var(--color-wtite);
  width: 24px;
  height: 24px;
}

.form__control {
  position: relative;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
}

.form__lable {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  left: 0;
}

.form__input {
  width: 100%;
  height: 100%;
  padding: 11px 11px 11px 42px;
  border: 1px solid var(--input-border);
  border-radius: 4px;
  outline: none;
  margin-bottom: 10px;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: ecubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: ecubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:hover, .form__input:focus {
  cursor: pointer;
  border-color: var(--brand-color);
}

.form__input__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 18px;
  height: 18px;
  fill: var(--second-text-color);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: ecubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: ecubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:hover + .form__input__icon, .form__input:focus + .form__input__icon {
  fill: var(--brand-color);
}

.form__comment {
  resize: none;
  width: 100%;
  height: 120px;
  border: 1px solid var(--input-border);
  border-radius: 4px;
  padding: 12px 16px;
  margin-bottom: 20px;
  outline: none;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: ecubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: ecubic-bezier(0.4, 0, 0.2, 1);
}
.form__comment::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.66;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__comment::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.66;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__comment:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.66;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__comment::-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.66;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.66;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__comment:not(:-moz-placeholder-shown) {
  cursor: pointer;
  border-color: var(--brand-color);
}
.form__comment:not(:-ms-input-placeholder) {
  cursor: pointer;
  border-color: var(--brand-color);
}
.form__comment:hover, .form__comment:focus, .form__comment:not(:placeholder-shown) {
  cursor: pointer;
  border-color: var(--brand-color);
}

.form__terms__box {
  position: relative;
}

.form__checkbox__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.form__checkbox__label {
  display: block;
  margin-left: 36px;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
@media (min-width: 1200px) {
  .form__checkbox__label {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}
.form__checkbox__label::before {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 12px;
  width: 16px;
  height: 15px;
  content: "";
  border: 2px solid var(--second-text-color);
  border-radius: 2px;
}

.form__checkbox__terms-link {
  color: var(--brand-color);
  text-decoration: underline;
}

.form__checkbox__label__icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 12px;
  width: 16px;
  height: 15px;
  opacity: 0;
}
.form__checkbox__input:checked ~ .form__checkbox__label__icon {
  opacity: 1;
}

.form__submit-button {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 10px 52px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.header {
  border-width: 0px 0px 1px 0px;
  border-color: #ececec;
  border-style: solid;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header__nav {
  display: none;
}
@media (min-width: 768px) {
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--brand-color);
}
@media (max-width: 768px) {
  .logo {
    padding: 16px;
  }
}

.header__logo--text {
  color: #000000;
}

.mobile-menu-button {
  width: 40px;
  height: 40px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: none;
  border: none;
  position: absolute;
  right: 15px;
}
@media (min-width: 768px) {
  .mobile-menu-button {
    display: none;
  }
}

.mobile-menu-button__icon {
  width: 24px;
  height: 16px;
  fill: #000000;
}

.site-nav {
  margin-left: 87px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}
@media (min-width: 1200px) {
  .site-nav {
    margin-left: 93px;
  }
}

.site-nav__link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  padding: 32px 0;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}
.site-nav__link:hover, .site-nav__link:focus {
  color: var(--brand-color);
}

.site-nav__link--current {
  color: var(--brand-color);
}
.site-nav__link--current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--brand-color);
  border-radius: 2px;
  position: absolute;
  bottom: 0;
}

.auth-nav {
  display: none;
}
@media (min-width: 768px) {
  .auth-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: auto;
  }
}
@media (min-width: 1200px) {
  .auth-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.auth-nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 1200px) {
  .auth-nav__link {
    padding: 32px 0;
  }
}
.auth-nav__link:hover, .auth-nav__link:focus {
  color: var(--brand-color);
}
@media (min-width: 1200px) {
  .auth-nav__link:first-of-type {
    margin-right: 50px;
  }
}

.auth-nav__icon {
  fill: currentColor;
  margin-right: 10px;
}
.auth-nav__link:hover .auth-nav__icon, .auth-nav__link:focus .auth-nav__icon {
  fill: var(--brand-color);
}

.hero {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2f303a;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/img-mobile.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/img-mobile@2x.jpg");
  }
}
@media (min-width: 768px) {
  .hero {
    background-size: 786px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/img-tablet.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img-tablet.jpg");
  }
}
@media (min-width: 768px) and (min-device-pixel-ratio: 2), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 192dpi), (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/img-tamlet@2x.jpg");
  }
}
@media (min-width: 1200px) {
  .hero {
    background-size: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/img.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img.jpg");
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/img@2x.jpg");
  }
}
@media (min-device-pixel-ratio: 3), (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
  .hero {
    background-image: url("../images/img@3x.jpg");
  }
}

.hero__title {
  display: block;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-wtite);
  max-width: 360px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .hero__title {
    font-weight: 900;
  }
}
@media (min-width: 1200px) {
  .hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}

.hero__button {
  padding: 10px 24px;
}
@media (min-width: 1200px) {
  .hero__button {
    padding: 10px 32px;
  }
}

.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--brand-color);
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-wtite);
  padding: 48px 40px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.mobile-menu__close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  height: 40px;
  width: 40px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  cursor: pointer;
}

.mobile-menu__close-button__icon {
  height: 19px;
  width: 19px;
  fill: var(--second-text-color);
}
.mobile-menu__close-button:hover .mobile-menu__close-button__icon {
  fill: var(--brand-color);
}

.mobile-menu__site-nav__link {
  display: block;
  color: var(--second-text-color);
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  margin-bottom: 32px;
}

.mobile-menu__site-nav__link--current {
  color: var(--brand-color);
}

.mobile-menu__auth-nav__tel {
  display: block;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--brand-color);
  margin-top: 302px;
  margin-bottom: 32px;
}

.mobile-menu__auth-nav__mail {
  display: block;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  margin-bottom: 64px;
}

.mobile-menu__social-links-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobile-menu__social-links-item {
  display: block;
  padding: 0 10px;
}
.mobile-menu__social-links-item:not(:last-of-type) {
  border-width: 0px 1px 0px 0px;
  border-color: var(--input-border);
  border-style: solid;
}

.mobile-menu__social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--brand-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition-property: opacity, visibility;
  transition-property: opacity, visibility;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 450px;
  height: 609px;
  background-color: var(--color-wtite);
  padding: 40px;
}
@media (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal__close-button {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 8px;
  right: 8px;
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  width: 30px;
  height: 30px;
}
.modal__close-button:hover, .modal__close-button:focus {
  fill: var(--brand-color);
}

.modal__close-icon {
  width: 11px;
  height: 11px;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: ecubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: ecubic-bezier(0.4, 0, 0.2, 1);
}

.modal__title {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  margin-bottom: 12px;
}
@media (min-width: 1200px) {
  .modal__title {
    line-height: 1.15;
  }
}

.portfolio__filters__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 15px;
}
@media (min-width: 768px) {
  .portfolio__filters__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.portfolio__filters__item {
  margin-right: 8px;
}
.portfolio__filters__item:last-of-type {
  margin-right: 0;
}

.portfolio__filters__botton {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  background-color: var(--color-light-gray);
  cursor: pointer;
  border-style: none;
  padding: 6px 25px;
  border-radius: 4px;
  -webkit-transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, box-shadow;
  transition-property: background-color, color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__filters__botton:hover, .portfolio__filters__botton:focus {
  background-color: var(--brand-color);
  color: var(--color-wtite);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

.portfolio__item {
  -ms-flex-preferred-size: calc(100% - 30px);
      flex-basis: calc(100% - 30px);
  margin: 15px;
  cursor: pointer;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 768px) {
  .portfolio__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
  }
}
@media (min-width: 1200px) {
  .portfolio__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
  }
}
.portfolio__item:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__card {
  padding: 20px 0 20px 24px;
  border-width: 0px 1px 1px 1px;
  border-color: #eeeeee;
  border-style: solid;
}

.portfolio__picture {
  display: block;
  position: relative;
  overflow: hidden;
}

.portfolio__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-text-color);
  margin-bottom: 4px;
}

.portfolio__subtitle {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.portfolio__overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--color-wtite);
  background-color: var(--overlay-background-color);
  padding: 63px 24px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__item:hover .portfolio__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.team {
  background-color: var(--color-light-gray);
  margin-left: auto;
  margin-right: auto;
}

.team__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  margin-bottom: 30px;
}
@media (min-width: 1200px) {
  .team__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}
@media (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media (min-width: 1200px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.team__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  background-color: var(--color-wtite);
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media (min-width: 768px) {
  .team__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
  }
}
@media (min-width: 1200px) {
  .team__item {
    -ms-flex-preferred-size: calc((100% - 120px) / 4);
        flex-basis: calc((100% - 120px) / 4);
  }
}

.team__subtitle {
  padding: 30px;
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  margin-bottom: 10px;
}

.team__position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

.team__social-links-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 206px;
  gap: 10px;
}

.team__social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  background-color: transparent;
  border-radius: 50%;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team__social-link:hover, .team__social-link:focus {
  background-color: var(--brand-color);
}

.team__social-link__icon {
  fill: var(--color-links-icon);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team__social-link:hover .team__social-link__icon, .team__social-link:focus .team__social-link__icon {
  fill: var(--color-wtite);
}

.working {
  display: none;
}
@media (min-width: 768px) {
  .working {
    display: none;
  }
}
@media (min-width: 1200px) {
  .working {
    display: block;
    padding-top: 0;
  }
}

.working__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  margin-bottom: 50px;
}

.working__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}

.working__item {
  position: relative;
}

.working__subtatle {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-wtite);
  padding: 27px;
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
  width: 100%;
}/*# sourceMappingURL=main.css.map */