
.features__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    @media (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;

    }
    @media (min-width: 1200px) {
    flex-direction: row;
    flex-wrap: nowrap;

    }
}

.features__item {
    align-items: flex-start;


&:last-of-type {
    padding-right: 0;
}
    @media (min-width: 768px) {
    flex-basis: calc((100% - 60px) / 2);
    }
    @media (min-width: 1200px) {
    flex-basis: calc((100% - 120px) / 4);
    }
}
.feauters__img {
    height: 120px;
    background-color: var(--color-light-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-bottom: 30px;

}

.features__subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--second-text-color);
    margin-bottom: 10px;
}

.features__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    max-width: 100%;
}