.working {
    display: none;
    
    @media (min-width: 768px) {
        display: none;
    }
    @media (min-width: 1200px) {
        display: block;  
        padding-top: 0;
    }   
}

.working__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
    margin-bottom: 50px;
}

.working__list {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.working__item {
    position: relative;
}

.working__subtatle {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-wtite);
    padding: 27px;
    background-color: rgba(47, 48, 58, 0.8);
    position: absolute;
    bottom: 0;
    width: 100%;
}