:root {
    --main-text-color: #757575;
    --second-text-color: #212121;
    --color-wtite: #ffffff;
    --brand-color: #2196f3;
    --color-light-gray: #f5f4fa;
    --color-links-icon: #afb1b8;
    --overlay-background-color: rgba(33, 150, 243, 0.9);
    --input-border: rgba(33, 33, 33, 0.2);


}